@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@600&display=swap');
* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar decoration*/

.topnav {
  width: 100%;
  background-color: #25252A;
  overflow: auto;
}

ul {
  padding: 0;
  margin-top: 15px;
  margin-left: 80px;
  list-style: none;
}

li {
  float: left;
  margin-top: -1px;
  font-size: 17px;
}

.logo {
  position: absolute;
  height: 87px;
  margin-top: -5px;
  margin-left: 8px;
}

nav a {
  color: white;
  width: 80px;
  display:block;
  padding: 20px 15px;
  text-decoration: none;
  text-align:center;
}

/*Search bar*/

 input[type=text] {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 45px;
  border: none;
  float:center;

}

.search-container button {
  float: center;
  padding: 10px 20px;
  margin-top: 8px;
  background: rgb(255, 200, 48);
  font-size: 17px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.search-icon {
  align-items: center;
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid rgb(61, 58, 58);  
  }
}

.Login button {
  border-radius: 50px;
  border: none;
  float: right;
  align-items: center;
  margin-top: 8px;
  margin-right: 10px;
  padding: 8px 12px;
  position: auto;
  background-color: rgb(255, 200, 48);
}

/*Content*/

.Heading-container {
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("C:/Users/Bao's Laptop/OneDrive/Documents/Code/notre-dame-university-COLLEGECAMP0421.jpg");
  background-size: cover;
  margin-top: 75px;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 50px;
  color: black;
}

.text-wrapper {
  position:absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  width: 45%;
  padding: 40px 0;
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0,0,0,0,3);
  color: black;
  font-weight: bold;
  border: 10px inset rgb(61, 58, 58);
}
.content { 
  margin-top: -20px;
}

.line {
  position: absolute;
  margin-left: 160px;
  margin-top: -20px;
  width: 300px;
  height:1px;
  background-color:#000;
}

/*Main page content (down below)*/

.main-container {
  overflow: auto;
  position: absolute;
  margin-top: 760px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 47%;
  background: rgb(255, 200, 48);
  background-size: cover;
}

.main-container .Children {
  font-size: 20px;
  float: center;
}

.Head {
  font-family: 'Noto Serif', serif;
  text-align: center;
}

.school-list {
  float: left;
  width: 390px;
  text-align: center;
}

.school-list i {
  margin-left: 70px;
}

.school-list .Wordy1 {
  font-family: 'Besley', serif;
  font-size: 20px;
  margin-left: 60px;
}

.Reviews {
  float: center;
  width: 360px;
  text-align: center;
  margin-left: 485px;
}

.Reviews .Wordy2 {
  font-family: 'Besley', serif;
  font-size: 20px;
}

.personalization {
  float: right;
  width: 360px;
  text-align: center;
  margin-top: -13%;
  margin-right: 60px;
}

.personalization .Wordy3 {
  font-family: 'Besley', serif;
  font-size: 20px;
}

.Link {
  padding: 20px 0px;
  text-align: center;
  float: center;
}

/* Footer of the main page*/













 







