@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@600&display=swap');
* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar decoration*/

.topnav {
  width: 100%;
  background-color: #25252A;
  overflow: auto;
}

.shortcuts {
  padding: 0;
  margin-top: 1.4%;
  margin-left: 6%;
  list-style: none;
}

.shortcuts li {
  float: left;
  margin-top: -0.4%;
  font-size: 17px;
}

.logo {
  position: absolute;
  height: 12%;
  margin-top: -0.3%;
  margin-left: 0.3%;
}

nav a {
  color: white;
  width: 80px;
  display:block;
  padding: 20px 15px;
  text-decoration: none;
  text-align:center;
}

/*Search bar*/

 input[type=text] {
  padding: 10px;
  margin-top: 0.8%;
  font-size: 17px;
  border-radius: 45px;
  border: none;
  float:center;

}

.search-container button {
  float: center;
  padding: 10px 20px;
  margin-top: 0.8%;
  background: rgb(255, 200, 48);
  font-size: 17px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.search-icon {
  align-items: center;
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid rgb(61, 58, 58);  
  }
}

.Login button {
  height: 45px;
  border-radius: 50px;
  border: none;
  float: right;
  align-items: center;
  margin-top: 0.5%;
  margin-right: 1%;
  padding: 13px 15px;
  position: auto;
  background-color: rgb(255, 200, 48);
  cursor: pointer;
}

/*Content*/

.Heading-container {
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("C:/Users/Bao's Laptop/OneDrive/Documents/Code/notre-dame-university-COLLEGECAMP0421.jpg");
  background-size: cover;
  margin-top: 7%;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 50px;
  color: black;
}

.text-wrapper {
  position:absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  width: 45%;
  padding: 40px 0;
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0,0,0,0,3);
  color: black;
  font-weight: bold;
  border: 10px inset rgb(61, 58, 58);
}
.content { 
  margin-top: -20px;
}

.line {
  position: absolute;
  margin-left: 160px;
  margin-top: -20px;
  width: 300px;
  height:1px;
  background-color:#000;
}

/*Main page content (down below)*/

.main-container {
  overflow: auto;
  position: absolute;
  margin-top: 760px;
  left: 0; 
  top: 10;
  width: 100%;
  height: 47%;
  background: rgb(255, 200, 48);
  background-size: cover;
}

.main-container .Children {
  font-size: 20px;
  float: center;
}

.Head {
  font-family: 'Noto Serif', serif;
  text-align: center;
}

.school-list {
  float: left;
  width: 390px;
  text-align: center;
}

.school-list i {
  margin-left: 70px;
}

.school-list .Wordy1 {
  font-family: 'Besley', serif;
  font-size: 20px;
  margin-left: 60px;
}

.Reviews {
  float: center;
  width: 360px;
  text-align: center;
  margin-left: 485px;
}

.Reviews .Wordy2 {
  font-family: 'Besley', serif;
  font-size: 20px;
}

.personalization {
  float: right;
  width: 360px;
  text-align: center;
  margin-top: -13%;
  margin-right: 60px;
}

.personalization .Wordy3 {
  font-family: 'Besley', serif;
  font-size: 20px;
}

.Link {
  padding: 20px 0px;
  text-align: center;
  float: center;
}

/* Main page footer*/
.footer-dark {
  align-content: center;
  margin-top: 85%;
  padding:35px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  color:rgb(255, 200, 48);
}

.item {
  text-align: center;
}

.footer-dark ul {
  float: center;
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

.footer-dark .item.text {
  margin-top: 10px;
  margin-bottom:31px;
  text-align: center;
}
.item.text a {
  text-decoration: none;
  color: rgb(255, 200, 48);
}


.footer-dark .item.social {
  text-align:center;
}

.footer-dark .item.social > a {
  font-size:17px;
  width:40px;
  height:40px;
  line-height:34px;
  display:inline-block;
  text-align:center;
  margin:0 6px;
  color: rgb(255, 200, 48);
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  opacity:0.3;
  font-size:13px;
}















 







