@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar*/

.topnav {
  width: 100%;
  background-color: #25252A;
  overflow: auto;
}

.shortcuts {
  padding: 0;
  margin-top: 15px;
  margin-left: 80px;
  list-style: none;
}

.shortcuts li {
  float: left;
  margin-top: -4px;
  font-size: 17px;
}

.logo {
  position: absolute;
  height: 95px;
  margin-top: -3px;
  margin-left: 8px;
}

nav a {
  color: white;
  width: 100px;
  display:block;
  padding: 20px 15px;
  text-decoration: none;
  text-align:center;
}

.Login button {
  height: 45px;
  border-radius: 50px;
  border: none;
  float: right;
  align-items: center;
  margin-top: 7px;
  margin-right: 10px;
  padding: 13px 15px;
  position: auto;
  background-color: rgb(255, 200, 48);
  cursor: pointer;
  }

  /*Search bar decoration*/

.search-container {
  float: right;
  position: auto;
  background-color: white;
  border-radius: 45px;
  height: 46px;
  width: 262px;
  margin-top: 7px;
}
input[type=text] {
  padding: 11px 10px;
  margin-top: 1px;
  font-size: 17px;
  border-radius: 45px;
  border: none;
  float: right;
  }
  
  .search-container button {
    float: right; 
    padding: 11.75px 15px;
    margin-left: 0px;
    background: rgb(255, 200, 48);
    font-size: 17px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
  }
  
  .search-icon {
    align-items: center;
    height: 12px;
    width: 12px;
  }

  /*Main UI*/

  .Main-UI {
    /*Image scaling*/
    position: fixed;
    left: 0; 
    width: 100%;
    height: 100vh;
    background: url("https://images.pexels.com/photos/159490/yale-university-landscape-universities-schools-159490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
   /* filter: blur(2px);
    -webkit-filter: blur(2px);
    */
  }

  /*Search Filter*/

  .Search-controls {
    position: absolute; 
    background: rgb(255, 200, 48);
    background-size: cover;
    float: left;
    width: 19%;
    margin-top: 35px;
    margin-left: 50px;
    border:none;
    border-radius: 20px;
  }

#Filter-title {
  text-align: center;
  font-family: 'Merriweather', serif;
}

#Filter-content  h3 {
  text-align: center;
}

#Filter-content input {
  margin-left: 40px;
  border-radius: 45px;
}

#Filter-content {
  margin-bottom: 30px;
}

select {
  margin-left: 30px;
  align-content: center;
  width: 70%;
  height: 32px;
  border-radius: 40px;
  border: none;
}

/*Cost slider UI*/
.slidecontainer p {
  text-align: center;
}
.slider {
  margin-left: 10%;
}

.Search-results {
  position: absolute; 
  background: white;
  background-size: cover;
  width: 45%;
  margin-top: 35px;
  margin-left: 28%;
  border:none;
  border-radius: 20px;
}

ol li:first-child { list-style:none }

.Search-results-items a {
  text-decoration: none;
  color: black;
}



